@import "../GlobalStyles/Button.scss", "../GlobalStyles/Form.scss",
  "../GlobalStyles/Input.scss", "../GlobalStyles/Theme.scss";


.wrapper {
  margin: 40px;
  border: 2px solid #118ab2;
  border-radius: 10px;
  font-family: "Prompt", sans-serif;
  width: 200px;
  display: block;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newSup {
  margin: auto 10vw auto auto;
}

.suppliersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Title {
  font-size: 30px;
  font-weight: 500;
}