@import "../GlobalStyles/Button.scss", "../GlobalStyles/Form.scss",
  "../GlobalStyles/Input.scss", "../GlobalStyles/Theme.scss";

.Input {
    @include Input;
}
.Form {
    @include Form;
}


.Wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font;  
}
.Button {
    @include Button;
    margin: 20px;
    &:focus {
        outline: none;
    }
}