@import "../GlobalStyles/Theme.scss";

.wrapper {
  font-family: "Prompt", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;1,400&display=swap");
  background-color: $header;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
}

.Link {
  width: auto;
  margin: 0px 25px;
  text-decoration: none;
  color: white;
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}
