@import "../../GlobalStyles/Theme.scss";

.wrapper {
  background-color: white;
  margin: 50px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: $font;
  width: 275px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.productCode {
  font-weight: 500;
}

.image {
  height: 200px;
}
.stockWrapper,
.unitPriceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.Link {
  text-decoration: none;
  color: #ef6e3d;
  font-size: 25px;
}
