@import "../GlobalStyles/Button.scss", "../GlobalStyles/Form.scss",
  "../GlobalStyles/Input.scss", "../GlobalStyles/Theme.scss";

.Input {
  @include Input;
}
.Form {
  @include Form;
}

.Button {
  @include Button;
  height: 50px;
  width: 300px;
  font-size: 20px;
  margin-top: 25px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  background-color: #e8e8e8;
  height: 88vh;
}

.Title {
  font-size: 30px;
  font-weight: 500;
}
